html, body {
    min-height: 100%;
}

*,body {
    font-family: "Verdana";
    text-align: center; 
}

svg {
    background-color: lightblue;
}

#map {
    width: 1000px;
    height: 600px;
}

#map-tooltip {
    position: absolute;
    display: flex;
    font-family: "verdana";
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    font-size: 8pt;
    color: black;
    padding: 10px;
    border: 2px solid black;
}

/* #slider {
    float:left;
    width: 935px;
    height: 45px;
    background-color: rgb(148, 73, 29);
  }

#sliderContainer {
    float: left;
    margin-top: 30px;
    height: 65px;
    width: 985px;
  } */