html, body {
    min-height: 100%;
}

*,body {
    font-family: "Verdana";
    text-align: center; 
}

svg {
    background-color: lightblue;
}

#map {
    width: 1000px;
    height: 600px;
}

r {
    font-weight: bold;
    font-size: 1.05em;
  }

#map-tooltip {
    position: absolute;
    display:block;
    font-family: "verdana";
    text-align: left;
    align-items: left;
    justify-content: left;
    flex-direction:r column;
    background-color: white;
    font-size: 8pt;
    color: black;
    padding: 8px;
    border: 2px solid black;
}

#slider {
    float:left;
    width: 935px;
    height: 45px;
    background-color: rgb(148, 73, 29);
  }

/* #sliderContainer {
    float: left;
    margin-top: 30px;
    height: 65px;
    width: 985px;
  } */